.my-caption {
  border-bottom: 1px dotted #389B17;
  color: #389B17;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
  line-height: normal;
}
.my-activity {
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
}
.my-venture {
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
}
h4 {
  font-size: 16px;
  line-height: 25px;
}
a:hover {
  color: #006291;
  text-decoration: none;
}
.post-detail {
  border: 1px solid #D1D1D1;
  padding: 12px 12px 12px 12px;
}
body {
  margin: 0;
  padding: 0;
  background: #A1A1A1;
  color: #4B4B4B;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
.container {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 50px 40px 20px 40px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 0 43px rgba(0, 0, 0, 0.1) inset;
}
h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #4B4B4B;
  margin: 0;
  padding: 0;
}
i {
  margin-right: 3px;
}
p {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  margin: 5px 0 0 0;
}
.heading .my-picture {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  float: left;
  margin: 0 20px 5px 0;
  padding: 5px;
}
.heading .my-name {
  font-size: 24px;
  color: #4A4A4A;
  line-height: 34px;
}
.heading .my-profession {
  color: #389B17;
  font-size: 18px;
  line-height: 30px;
}
.my-services {
  margin-top: 6px;
  font-size: 20px;
  line-height: 34px;
}
.my-services a {
  float: right;
}
.resume {
  margin: 50px 0 50px 0;
}
.resume span {
  float: right;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.post-item {
  width: 100%;
  padding: 5px;
}
@media (min-width: 490px) and (max-width: 767px) {
  .grid-sizer,
  .post-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .grid-sizer,
  .post-item {
    width: 33%;
  }
}
@media (min-width: 992px) {
  .grid-sizer,
  .post-item {
    width: 25%;
  }
}
